body{
 background-color: #242222;
}
.grooovz-player{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    z-index: -1;
    bottom:0;
    margin-top: 80px;
    left:0;
    right:0
}

.search-bar{
    justify-content: center;
}
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
}
 
  .fa-bars {
    color: #fff;
}
  
  .playbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* set the desired height for the playbar */
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
}
    .controller {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    flex-direction: row;
    align-items: center;
}

  .Play-Button{
    size: 50px;
    padding: 10px;
}
  
  .search-input
  {
      display: block;
      margin: 20px auto 0;
      width: 300px;
      padding: 12px;
      border: 1px solid black;
}
  .search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    justify-content: center;
    
}
    .search-result {
    flex-basis: calc(25% - 40px);
    border: solid;
    border-width: 1px;
    border-color: rgb(117, 120, 122);
    background-color:black;
    justify-content: center;
}

  .search-result:hover{
    transform: scale(1.01);
}
  .search-bar{
    border-radius: 5px;
}
    /* Media Query for Mobile */
  @media (max-width: 767px) {
    .search-result {
      flex-basis: 100%;
    }
}

.groovz-player-container{
  background-color: #242424;
}

.playlistIcon {
  color: #fff;
}

.addqueueIcon {
  color: #fff;
}

.search-result-title {
  color: white;
}

.search-result-artist {
  color: white;
}

.playlistIcon:hover {
  transform: scale(1.1);
  color: green;
}

.addqueueIcon:hover {
  transform: scale(1.1);
  color: green; 
}

.genre-card{
  color: white;
}

.genres-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
  justify-content: center;
}

.genre-card {
  flex-basis: calc(25% - 60px);
  border: solid;
  border-width: 0.5px;
  border-color: rgb(117, 120, 122);
  background-color:black;
  justify-content: center;
  border-radius: 10px;
}

.genre-image {
  align-items: center;
  width: 200px; /* Set the width of the image */
  height: 200px; /* Set the height of the image */
  object-fit: cover;
  display:flex
}

.genre-card:hover{
  transform: scale(0.9);
}